@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

@theme {
  --font-sans: InterVariable, Inter, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --default-font-feature-settings: "liga" 1, "kern" 1, "calt" 1;
}
